
:root {
  --color-primary:#0e5886;
  --color-secondary:#052031;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  max-width: 100vw;
}

body {
  margin: 0px;
  min-width: 320px;
}

.main-container {
  display: grid;
  grid-area: main;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}


h1 {
  font-size: 1.25em;
  font-weight: 300;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  grid-area: header;
}

.header-item {
  margin: 8px 0;
}

svg {
  height: 1.5em;
  width: 2em;
}

nav img {
  height: 2em;
  width: 2em;
  margin: .25em 0;
}

.student-img {
  border-radius: 50%;
  height: 3em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color-secondary);
  grid-area: nav;
}

.nav-icon {
  margin: 5px 10px;
}

.bell-icon {
  padding: 10px;
  border-right: white 1px solid;
}

.notifications {
  background-color: aquamarine;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

h3 {
  font-size: .9em;
  font-weight: 300;
}

.dash, .alert {
  display: flex;
  flex-direction: row;
}

.gray-tab {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: lightgray;
  flex-grow: 2;
}

.dash h2 {
  padding-right: 1em;
  margin-left: 1em;
  font-size: 1em;
}

.alert {
  background-color: var(--color-primary);
  color: white;
  border-radius: 10px;
  justify-content: space-between;
  margin: 1em 1em;
  padding: 0 1em;
  font-size: .9em;
  border-bottom: none;
}

.alert-btn-close {
  font-weight: bold;
  color: #fff;
  background-color: var(--color-primary);
  border-style: none;
}

.traffic, .daily-traffic, .mobile-users, .social-stats, .new-members, .recent-activity, .message-user {
  border-bottom: 1px solid gray;
}

.main-item {
  margin: 1em 1em;
  font-size: .9em;
}

.section-headline, .social-heading {
  font-weight: 700;
}

.section-headline {
  font-size: 1.1em;
  text-transform: uppercase;
}


.traffic-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
}

.traffic li {
  background-color: lightgreen;
  padding: 10px;
  border-radius: 25px;
}

svg path {
  fill: white;
}

.new-member-box, .recent-activity-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
}

#last-child, #last-child-recent {
  border: none;
}

.new-member-box img, .recent-activity-box img {
  border-radius: 50%;
  height: 4.5em;
  width: 4.5em;
}

.new-member-child {
  margin: 0px;
  font-size: 1em;
  text-align: center;
}

.new-member-child p {
  margin: 0px;
}

.email-style {
  text-decoration: none;
}

.social-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
  padding: .5em;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
}

.social-svg {
  padding: .5em;
  width: 3em;
  height: 3em;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 4em;
  width: 4em;
  max-width: 4em;
  max-height: 4em;
}

.middle-column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  margin: 1em 0px;
}

.social-count {
  font-size: 3em;
  align-self: flex-start;
}

.social-heading {
  color: var(--color-primary);
  font-size: 1.25em;
  margin: 0px;
  align-self: flex-start;
}

.social-item-child {
  margin: auto 5px;
}

#search-input, #send-btn, .time-dropdown {
  width: 100%;
  height: 3em;
  margin: 1em 0;
}

#message-input {
  width: 100%;
  height: 8em;
  text-align: left;
}

.form-search, .form-text {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  border: solid 1px gray;
}

.btn-primary {
background-color: var(--color-primary);
color: #fff;
border-style: none;
border-radius: 5px;
text-transform: uppercase;
}

.setting-toggle-box, .setting-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.switch-light {
  width: 100px;
}

.save-btn, .cancel-btn {
  width: 45%;
  height: 3em;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.save-btn {
  background-color: var(--color-primary);
}

.cancel-btn {
  background-color: darkgray;
}

.arrow-tab {
  display: none;
  font-size: 2em;
  color: var(--color-primary);
}

.chart-container, .chart-container-half {
  width: 90vw;
  margin: auto;
}

/* Media Queries */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main";
    }

  nav {
    flex-direction: column;
    justify-content: flex-start;
  } 

  .social-container {
    display: flex;
    justify-content: center;
  }

  .social-item {
    flex-basis: 33%
  }

  header {
    justify-content: flex-end;
  }

  #header-title {
    margin-right: auto;
  }

  .header-item {
    margin: 10px;
  }

  .main-container {
    grid-template-columns: 50%;
    grid-template-rows: auto;
  }

  .chart-container {
    width: 90vw;
  }

  .chart-container-half {
    width: 45vw;
  }

  .traffic, .social-stats, .new-members, .message-user, .settings-time, .recent-activity, .dash, .alert {
    grid-column: 1 / span 2;
  }

  .daily-traffic, .settings {
    grid-column: 1 / span 1;
  }

  .mobile-users {
    grid-column: 2 / span 1;
  }
 
  .new-member-box, .recent-activity-box {
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .new-member-box span {
    margin-left: auto;
  }

  .new-member-child {
    margin: 10px;
    font-size: 1em;
    text-align: left;
  }

  .arrow-tab {
    display: block;
    margin-left: auto;  
  }

  .traffic-heading-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .traffic-nav-link {
    margin: 0 5px;
  }
  
  .daily-traffic {
    border-right: 1px solid gray;
  }
}

@media (min-width: 1024px) {
  .traffic, .social-stats, .dash, .alert {
    grid-column: 1 / span 2;
  }

  .daily-traffic, .new-members, .message-user {
    grid-column: 1 / span 1;
  }

  .mobile-users, .settings, .settings-time, .recent-activity {
    grid-column: 2 / span 1;
  }

  .daily-traffic, .new-members, .message-user {
    border-right: 1px solid gray;
  }

  .message-user {
    border-bottom-style: none;
    grid-row: span 2;
  }

}

/* Possible Dropdown menu */ 

/* Bell Icon Dropdown alert notifications menu */

.dropdown-alert {
  display: block;
  position: relative;
}

.dropdown-alert ul {
  position: absolute;
  left: -50px;
  top: -5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5em;
  font-size: 12px;
  width: 200px;
  background-color: var(--color-secondary);
  border: 1px solid gray;
}

.dropdown-btn {
  margin-left: auto;
}

.alert-badge {
  position: absolute;
  top: -30px;
  right: -4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: turquoise;
}






 